.box {
  text-align: center;
  padding-top: 30px;
  .btn {
    display: inline-block;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    background-color: pink;
  }
}

.swiper {
  :global {
    .swiper-wrapper {
      transform-style: preserve-3d;
    }
    .swiper-slide-duplicate-next {
      visibility: hidden;
    }
    .swiper-slide {
      width: 290px !important;
      height: 335px;
      background-color: pink;
    }
  }
}
